@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "@tailwindcss/typography";
@import "./satoshi.css";

:root {
  --font-satoshi: "Satoshi-Variable", sans-serif;
}

html,
body {
  font-family: var(--font-satoshi);
}

.custom-swiper .swiper-pagination-bullet {
  @apply bg-slate-300;
  opacity: 0.6;
}

/* Bullet aktif */
.custom-swiper .swiper-pagination-bullet-active {
  @apply bg-glamorig-500;
  opacity: 1;
}

.custom-swiper .swiper-pagination {
  bottom: 0 !important;
  position: relative !important;
  margin-top: 10px;
}
